.radio {
  position: relative;

  display: inline-flex;
  align-items: center;
  margin: 20px 20px 0 0;
  font-weight: 700;
  color: #05842f;

  input {
    opacity: 0;
    position: absolute;
    border-radius: 10px;
  }

  &Button {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #05842f;
  }

  input:checked + &Button {
    background-color: #05842f;
  }
}
